@model IEnumerable<Buoi16_ASP_EFCore.Entities.Loai>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Hinh)*@
                <img src="~/Hinh/Loai/@item.Hinh"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaLoai" class="btn btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.MaLoai" class="btn btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.MaLoai" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
