@model IEnumerable<DoAn.Data.Loai>

@{
    ViewData["Title"] = "Danh sách loại";
}



<p>
    <a asp-action="Create">Thêm Mới Loại</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr class="bg-success">
            <th>
                @Html.DisplayNameFor(model => model.MaLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaLoaiCha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiCha.TenLoai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaLoai" class="btn btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.MaLoai" class="btn btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.MaLoai" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
