@model IEnumerable<Buoi17_18_19_EFCore_CRUD_AJAX.ViewModels.LoaiThongKe>

@{
    ViewData["Title"] = "LoaiThongKe";
}

<h1>Doanh số bán hàng từng loại</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr class="bg-info">
            <th>
                @Html.DisplayNameFor(model => model.Loai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoanhThu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoHH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaNN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaCN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaTB)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Loai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoanhThu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoHH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaNN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaCN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaTB)
                </td>
            </tr>
        }
    </tbody>
</table>

