
@model IEnumerable<Buoi17_18_19_EFCore_CRUD_AJAX.ViewModels.ThangThongKe>

@{
    ViewData["Title"] = "ThangThongKe";
}

<h1>Doanh số bán hàng thoe tháng</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr class="bg-primary text-center">
            <th>
                @Html.DisplayNameFor(model => model.Thang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoHHDaBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaNN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaCN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaTB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoanhThu)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model)
        {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.Thang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoHHDaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaNN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaCN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaTB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoanhThu)
            </td>
        </tr>
        }
    </tbody>
</table>
